<div class="col-xs-12">
    <div class="list-group-item clearfix" *ngFor="let movie of movies">
        <div class="pull-left">
            <a routerLink="{{movie.id}}" class="list-group-item-heading"><h4>{{movie.title}}</h4></a>
            <p class="list-gorup-item-text">Description: {{movie.description}}</p>
            <p class="list-gorup-item-text">Start date: {{movie.start_date}}</p>
            <p class="list-gorup-item-text">Genre: {{movie.genre}}</p>
        </div>
        <span class="pull-right">
            <img [src]="movie.photo" alt="{{movie.title}}" class="img-responsive" style="max-height: 50px;">
            <button class="btn btn-danger" type="button" (click)="onMovieDelete(movie.id)">Delete</button>
        </span>
    </div>
</div>