.movie_item {
    margin-left: 40px;
    margin-top: 20px;
}

.like {
    margin: 0px 30px 0px 5px;
}

.back_link {
    margin-left: 10px;
    font-size: medium;
}

.comment_item {    
    border-width: 3px;
    border-color: darkblue;
    border-style: solid;
    width: 400px;
    height: fit-content;
    word-wrap: break-word;
}

.main_comment {
    margin: 10px 10px 10px 20px;
}

.reply {
    margin: 10px 10px 10px 50px;
}

.new_comment {
    margin: 10px 10px 10px 20px;
    min-height: 100px;
    height: fit-content;
    width: 500px;
}

.new_comment_text {
    margin: 100px 20px 20px 22px;
    font-size: medium;
}

.post_comm_button {
    margin: 10px 0px 60px 22px;
}

.like {
    margin: 0px 30px 10px 5px;
    font-size: small;
}