{\rtf1\ansi\ansicpg1252\cocoartf2580
\cocoatextscaling0\cocoaplatform0{\fonttbl\f0\fmodern\fcharset0 Courier-Oblique;\f1\fmodern\fcharset0 Courier;}
{\colortbl;\red255\green255\blue255;\red79\green143\blue160;\red242\green242\blue242;\red76\green76\blue76;
\red83\green83\blue83;\red171\green67\blue203;}
{\*\expandedcolortbl;;\cssrgb\c37647\c62745\c69020;\cssrgb\c96078\c96078\c96078;\cssrgb\c36863\c36863\c36863;
\cssrgb\c40000\c40000\c40000;\cssrgb\c73333\c37647\c83529;}
\paperw11900\paperh16840\margl1440\margr1440\vieww28600\viewh18000\viewkind0
\deftab720
\pard\pardeftab720\partightenfactor0

\f0\i\fs28 \cf2 \cb3 \expnd0\expndtw0\kerning0
# Django #
\f1\i0 \cf4 \
*.log\
*.pot\
*.pyc\
__pycache__\
db.sqlite3\
media\
\

\f0\i \cf2 # Backup files # 
\f1\i0 \cf4 \
*.bak \
\

\f0\i \cf2 # If you are using PyCharm # 
\f1\i0 \cf4 \
.idea/**/workspace.xml \
.idea/**/tasks.xml \
.idea/dictionaries \
.idea/**/dataSources/ \
.idea/**/dataSources.ids \
.idea/**/dataSources.xml \
.idea/**/dataSources.local.xml \
.idea/**/sqlDataSources.xml \
.idea/**/dynamic.xml \
.idea/**/uiDesigner.xml \
.idea/**/gradle.xml \
.idea/**/libraries \
*.iws /out/ \
\

\f0\i \cf2 # Python # 
\f1\i0 \cf4 \
*.py\cf5 \cb3 [\cf4 \cb3 cod\cf5 \cb3 ]\cf4 \cb3  \
*\cf6 \cb3 $py\cf4 \cb3 .class \
\

\f0\i \cf2 # Distribution / packaging \

\f1\i0 \cf4 .Python build/ \
develop-eggs/ \
dist/ \
downloads/ \
eggs/ \
.eggs/ \
lib/ \
lib64/ \
parts/ \
sdist/ \
var/ \
wheels/ \
*.egg-info/ \
.installed.cfg \
*.egg \
*.manifest \
*.spec \
\

\f0\i \cf2 # Installer logs 
\f1\i0 \cf4 \
pip-log.txt \
pip-delete-this-directory.txt \
\

\f0\i \cf2 # Unit test / coverage reports 
\f1\i0 \cf4 \
htmlcov/ \
.tox/ \
.coverage \
.coverage.* \
.cache \
.pytest_cache/ \
nosetests.xml \
coverage.xml \
*.cover \
.hypothesis/ \
\

\f0\i \cf2 # Jupyter Notebook 
\f1\i0 \cf4 \
.ipynb_checkpoints \
\

\f0\i \cf2 # pyenv 
\f1\i0 \cf4 \
.python-version \
\

\f0\i \cf2 # celery 
\f1\i0 \cf4 \
celerybeat-schedule.* \
\

\f0\i \cf2 # SageMath parsed files 
\f1\i0 \cf4 \
*.sage.py \
\

\f0\i \cf2 # Environments 
\f1\i0 \cf4 \
.env \
.venv \
env/ \
venv/ \
ENV/ \
env.bak/ \
venv.bak/ \
\

\f0\i \cf2 # mkdocs documentation 
\f1\i0 \cf4 \
/site \
\

\f0\i \cf2 # mypy 
\f1\i0 \cf4 \
.mypy_cache/ \
\

\f0\i \cf2 # Sublime Text # 
\f1\i0 \cf4 \
*.tmlanguage.cache \
*.tmPreferences.cache \
*.stTheme.cache \
*.sublime-workspace \
*.sublime-project \
\

\f0\i \cf2 # sftp configuration file 
\f1\i0 \cf4 \
sftp-config.json \
\

\f0\i \cf2 # Package control specific files Package 
\f1\i0 \cf4 \
Control.last-run \
Control.ca-list \
Control.ca-bundle \
Control.system-ca-bundle \
GitHub.sublime-settings \
\

\f0\i \cf2 # Visual Studio Code # 
\f1\i0 \cf4 \
.vscode/* \
!.vscode/settings.json \
!.vscode/tasks.json \
!.vscode/launch.json \
!.vscode/extensions.json \
.history}